<div class="container">
    <div class="active">
      All Boards
    </div>
 
<% @articles.each do |article| %>
  <%= link_to article_path(article) do %>
    <div class="card">
      <div class="card3">
        <div class="card_title">
            <%= article.title %>
        </div>
   
        <div class="card_content">
          <div class="card_detail">
            <%= image_tag 'Untitled design.png' %>

          </div>
        </div>
    </div>
    </div>
  <%end%> 
<% end %>



<div class="article2">
  <%= link_to new_article_path do %>
    <div class="content2">
    <div class="content-text">+ Add new board</div>
    </div>
    </div>
  <% end %>
</div>