@import './variables'; 
.btn-primary {
background-color:#F8BD1C;
border: none;
width: 90%;
text-align: center;
color:#FFFF;
padding: 16px 0;
font-weight: bold;
margin-left: 20px;
border-radius: 4px;
margin-top: 300px;
font-family: Avenir;
}